body{
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background-color: #fbe5eb;

}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    background-color: #cce7f3;
    color: dimgrey;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed ;
    padding: 10px;
    padding-right:50px ;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    z-index: 100;
}
.navbar p{
    padding: 10px;
    background-image: radial-gradient(circle, #cce7f3,  #f6a2b1);
    color: dimgrey;
    font-weight: bolder;
    border-radius: 5px;

}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:30% ;
    height:100% ;
    gap: 15px;
}
.icon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hero-text{
    width: 50%;
    height: 50%;
    border-radius: 15px;
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 50px;
    color: #4c4c4c;
    position: relative;
    left: 8%;
    z-index: 1;
    animation-duration: 3s;
    animation-name: slide-in;
}
.hero-image{
    width: 50%;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    right: 7%;
    top: 8%;
    animation-duration: 3s;
    animation-name: slide-in;
    overflow-y: hidden;
}
@keyframes slide-in {
    from {
        translate: 0 600px;
        scale: 150% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

.hero-image img{
    width: 75%;
    height: 75%;
    opacity:0.95 ;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
}
.hero-text p{
    margin: 0;
    font-size: 56px;
    font-weight: bold;
}
.hero-text button{
    background-image: radial-gradient(circle, #cce7f3,  #f6a2b1);
    width: 200px;
    height: 50px;
    border: none;
    color: darkslategrey;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    transition: all 1s;
    margin-top: 50px;
}
.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #007ea1 solid 3px;
    font-size: 20px;
    margin-bottom: 50px;
}
.top h2{
    margin-bottom: 5px;
}
.down{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 25px;
    width: 80%;
}
.down img{
    width: 30%;
    max-height: 600px;
}
.text{
    width: 70%;
    font-size: 18px;
    line-height: 1.7;


}
.text h2{
    color: black;
}
.property{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.property li{
    margin-bottom: 20px;
}
.footer{
    width: 100%;
    height: 200px;
    background-color:#cce7f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 20px rgba(0,0,0,0.2);
}
.footer p{
    padding: 10px;
    font-size: 35px;
    color: dimgrey;
    font-weight: bold;
}
.footer p span{
    color: #007ea1;
}
.social{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.footer button{
    width: 150px;
    height: 50px;
    border: none;
    background-image: radial-gradient(circle, #cce7f3,  #f6a2b1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #4c4c4c;
}
.skills ,.portfolio {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cce7f3;
}
.skills-bar{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 50px;
    padding-bottom: 60px;
}
.front-progress{
    width: 50%;
    color: #333333;

}
.html-header, .css-header , .js-header ,.react-header , .python-header ,.django-header ,.docker-header , .wordpress-header, .seo-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-between;
}
.html-progress-container , .css-progress-container , .js-progress-container , .react-progress-container , .python-progress-container , .django-progress-container , .docker-progress-container ,.wordpress-progress-container,.seo-progress-container{
    width: 100%;
    height: 10px;
    background-color: #fbe5eb;
    padding: 0;
    margin: 0;
}
.html-progress-filling{
    width: 90% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89;
}
.css-progress-filling{
    width: 90% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89  ;
}
.wordpress-progress-filling{
    width: 85% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89  ;
}
.seo-progress-filling{
    width: 30% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89  ;
}
.js-progress-filling{
    width: 40% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89  ;
}
.react-progress-filling{
    width: 40% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89  ;
}
.back-progress{
    width: 50%;
    color: #333333;

}
.python-progress-filling{
    width: 60% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89  ;
}
.django-progress-filling{
    width: 60% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89  ;
}
.docker-progress-filling{
    width: 20% ;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ff4b89  ;
}


.resume , .contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 0;
}
.resume-content{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
.left-resume ,.right-resume{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 20px;
    font-size: 15px;
}
.topic{
    color: #333333;
    margin: 0;
}
.topic-text{
    border-left: 3px dotted deeppink ;
    padding-left: 25px;
    margin:0;
    color: #4c4c4c;
}
.topic-text a {
    color: #4c4c4c;
}
.portfolio-content{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    padding-bottom: 80px;
}
.portfolio-left , .portfolio-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.portfolio-content img{
    max-width: 100%;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 50px;
    border-bottom: 3px dotted deeppink;
}
.portfolio-content h3 {
    padding-bottom: 0;
    padding-top: 50px;
    margin: 0;
    font-size: 22px;
    color: #333333;
}
.portfolio-content p {
    color:#4c4c4c;
}
.main-content{
    width:40%;
    height: 400px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px grey;
    padding: 30px;
}
.main-content h3 {
    background-color: rgba(255, 255, 255, 0.59);
    padding: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    gap: 20px;
}
.list{
    background-color: rgba(255, 255, 255, 0.59);
    padding: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    gap: 20px;
}

